[Unit]
Description=UKIP (USB Keystroke Injection Protection)
After=network.target

[Service]
ExecStart=/usr/local/bin/ukip
Restart=always
User=root

[Install]
WantedBy=multi-user.target
